.hero-header {
    background-color: #1c1c1c;
    color: white;
    padding-bottom: 50px;
  }
  
  .navbar {
    padding: 15px 0;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #04395e;
  }
  
  .nav-link {
    color: white;
    margin-right: 20px;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .hero-text {
    text-align: left;
    padding: 50px 0;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .hero-text h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-text h2 span {
    color: #04395e;
  }
  
  .hero-text p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  .btn-primary {
    background-color: #04395e;
    border: none;
    padding: 10px 20px;
    font-size: 1.25rem;
  }
  
  .contact-info {
    text-align: center;
    margin-top: 30px;
  }
  
  .contact-info p {
    margin: 0;
    font-size: 1.1rem;
    color: #cccccc;
  }
  